* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    background-color: rgb(255, 215, 221);
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

.card {
    border-radius: 10px;
    margin: 50px 0;
    padding: 20px;
    background-color: white;
}

.card-body {
    background-color: white;
    color: black;
}

.card li {
    line-height: 30px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
}

.checked {
    text-decoration: line-through;
}

.delete-icon {
    cursor: pointer;
}