<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To Do List</title>
    <link rel="stylesheet" href="./CSS/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/5e4eaeffdb.js" crossorigin="anonymous"></script>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <header>

    </header>
    <main id="app">
        <section class="container">
            <div class="card"> 
                <div class="card-header">
                    <input type="text" v-model="inputValue" id="todo-bar" name="todo-bar"/>
                    <input type="submit" class="add-button" value="Aggiungi" @click="addTodo"/>
                </div>
                <div class="card-body">
                    <ul>
                        <li v-for="todo, i in todoList" :class="todo.done === true ? 'checked' : ''">
                            {{todo.text}}
                            <span class="delete-icon" @click="deleteTodo(i)"><i class="fa-solid fa-trash"></i></span>
                        </li>
                    </ul>

                </div>
            </div>
        </section>
    </main>
    
    <script src="./JS/app.js"></script>
</body>
</html>